body {
    font-family: "Open Sans";
}

.navigation {
    list-style-type: none;
}

.navigation a {
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #444;
}
